body{
  font-family: 'Raleway', sans-serif;
}



.container{

}

.center{
  margin: 0 auto;
  display: block;
}

.tile{
  background: #cccccc;
  border: 1px solid #ffffff;
  height:400px;
  text-align: center;
  transition: all ease-in-out 300ms;
  &:hover{
    background: #e5e5e5;
    h3{
      color:rgba(0,0,0,1);
    }
  }
  h3{
    color:rgba(0,0,0,0);
    transition: all ease-in-out 300ms;
  }
}

.navigation{
  li{
    a{
      color: #444;
    }
  }
}

.header{
  background: url(../../img/header-bg-home.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  padding-top: 300px;
  h1{
    font-size: 65px;
    margin-bottom: 10px;
    margin-top: 10px;
    color:#ffffff;
  }
  img.logo{
    width:70px;
  }
}

.footer{
  height: 150px;
  padding: 50px;
}


//Responsive styles

@media(max-width: 1520px){
  .container{
    width:100%;
  }
}